.FootContainer > div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1, auto);
    border: 0.5px solid transparent;
    width: 80%;
    height: fit-content;
    margin: auto;
    border-bottom: 0.5px solid rgb(181, 180, 180);
}

.FootContainer > div > div{
    text-align: left;
    border: 2px solid transparent;
}

.FootContainer > div > div > p{
    font-size: small;
}

@media screen and (max-width: 780px){
    .FootContainer > div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2, auto);
    }
  }

  