.HpBody{
    display: flex;
    width: 80%;
    margin: auto;
    border: 0.2px solid rgb(221, 219, 219);
    border-radius: 20px;
    justify-content: space-between;
    margin-bottom: 30px;

}
.card_para{
    margin-top: 90px;
    margin-left: -70px;
    color: #343b53;
   
}
.HpBody > img{
    width: 350px;
    border-radius: 20px;
}
.firstDiv{
    width: 500px;
}
.firstDiv input{
   
    border-color: 10px silver;
}

.firstDiv h2{
    font-weight: 500;
    margin-top: -20px;
    font-size: large;
}
.firstDiv p {
font-size: 12px;
margin-top: 10px;
margin-bottom: 10px;
}
.firstDiv > button{
    background-color: rgb(54,98,216);
    width: 120px;
    height: 40px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 15px;
    height:"60px";
    color: white;
}
.firstDiv > button:hover{
    background-color: rgb(41, 75, 166);
}
.HpBody > div > h1{
    font-size: 30px;
    font-weight: 600;
}
.HpBody > div > img{
    width: 320px;
    height: 200px;
}
.Card_Img{
    width: 80%;
    height: 500px;
    border-radius: 20px;
    margin: auto;
    color: #343b53;
    margin-bottom: 80px;
    position: relative;
}
.Card_Img > img{
    border-radius: 5px;
    height: 100%;
}
.Card_Img > div{
    position: absolute;
    top: 10%;
    left: 15%;
    color: white;
    width: 400px;
}
.Card_Img > div > h1{
    font-size: 40px;
    font-weight: 700;
}
.Card_Img > div >button{
    background-color: rgb(54,98,216);
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 10px;
}
.Card_Img > div >button:hover{
    background-color: rgb(41, 75, 166); 
}
@media screen and (max-width: 996px){
    .HpBody > div:last-child{
        display: none;
    }
    .HpBody > div > h1{
        font-size: 25px;
    }
    .HpBody > div > p{
        font-size: 15px;
    }
    .firstDiv{
        width: 300px;
    }
  }
@media screen and (max-width: 780px){
    .HpBody{
        flex-direction: column;
        align-items: center;
    }
    .HpBody > img{
        width: 100%;
        height: 300px;
    }
    .firstDiv{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
  }
@media screen and (max-width: 480px){

    .firstDiv > p{
        display: none;
    }
    .firstDiv > h1{
        font-size: 10px;
    }
    .Card_Img > div{
        top: 10%;
        width: 60%;
    }
    .Card_Img > div > h1{
        font-size: 20px;
        font-weight: 500;
    }
    .Card_Img > div >button{
        width: 130px;
        height: 30px;
        font-size: 10px;
        margin-top: 10px;
    }
  }

  