.HpBody{
    display: flex;
    width: 80%;
    margin: auto;
    border: 0.2px solid rgb(221, 219, 219);
    border-radius: 20px;
    justify-content: space-between;
    margin-bottom: 30px;

}
.card_para{
    margin-top: 90px;
    margin-left: -70px;
    color: #343b53;
   
}
.HpBody > img{
    width: 350px;
    height: 70%;
    border-radius: 20px;
    display: block;
    margin-right: 1%;
}
.firstDiv{
    width: 500px;
}
.firstDiv input{
   
    border-color: 10px silver;
}

.firstDiv h2{
    font-weight: 500;
    margin-top: -20px;
    font-size: large;
}
.firstDiv p {
font-size: 12px;
margin-top: 10px;
margin-bottom: 10px;
}
.firstDiv > button{
    background-color: rgb(54,98,216);
    width: 120px;
    height: 40px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 15px;
    height:"60px";
    color: white;
}
.firstDiv > button:hover{
    background-color: rgb(41, 75, 166);
}
.HpBody > div > h1{
    font-size: 30px;
    font-weight: 600;
}
.HpBody > div > img{
    width: 70%;
   display:block;
   margin: auto;
}
.image_con_qr{
    margin: auto;
    width: 20%;
  
}
.Card_Img{
    width: 80%;
height: 70vh;
    border-radius: 20px;
    margin: auto;
    color: #343b53;
    margin-bottom: 80px;
    position: relative;
    background-size: 100% 100%;
    background-image: url("https://a.travel-assets.com/travel-assets-manager/ceorg-2118/HP-Hero-D-928x398.jpg");
}

.Card_Img > div{
    position: absolute;
    top: 10%;
    left: 15%;
    margin: auto;
    color: white;
    width: 400px;
}
.Card_Img > div > h1{
    font-size: 40px;
    font-weight: 700;
}
.Card_Img > div >button{
    background-color: rgb(54,98,216);
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 10px;
}
.Card_Img > div >button:hover{
    background-color: rgb(41, 75, 166); 
}

@media screen and (max-width: 996px){
    .HpBody > div:last-child{
        display: none;
    }
    .HpBody > div > h1{
        font-size: 25px;
    }
    .HpBody > div > p{
        font-size: 15px;
    }
    .firstDiv{
        width: 50%;
    }
    .HpBody>img{
        height: 70%;
    }
    .Card_Img{
     height: 60vh;
    }
  }
@media screen and (max-width: 780px){
    .HpBody{
        flex-direction: column;
        align-items: center;
    }
    .HpBody > img{
        width: 100%;
        height: 300px;
    }
    .firstDiv{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .Card_Img{
        height: 50vh;
       }
  }
@media screen and (max-width: 480px){

    .firstDiv > p{
        display: none;
    }
    .firstDiv > h1{
        font-size: 10px;
    }
    .Card_Img > div{
        top: 10%;
        width: 60%;
    }
    .Card_Img > div > h1{
        font-size: 20px;
        font-weight: 500;
    }
    .Card_Img > div >button{
        width: 130px;
        height: 30px;
        font-size: 10px;
        margin-top: 10px;
    }
    .Card_Img{
        height: 40vh;
       }
  }

  