.title_search{
    font-size: 1.25em;
    letter-spacing:1px;

    font-weight: 550;
}
.inp
{
    width: 100%;
}


/* Filter */
.filter_heading{
    font-size: 1.25em;
    font-weight: 550;
}
.pop{
    font-weight: bold;
    margin-bottom: 0.92em;

}
.text_fil{
    font-size: 14px;
}
.price{
    font-size: 0.92em;
    font-weight: bold;
}
label{
    font-size: 0.9em;
    font-weight: 450;
    margin-left: 10px;
}
.btn{
    
}