
.date_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  
  .date_content div {
    border: 1px solid #111;
    border-radius: 8px;
    cursor: pointer;
  
  }
  .date_content  input {
    cursor: pointer;
  padding:12px 32px 12px 32px;
    outline: none;
  
  }
  
  .date_content div:nth-child(3) {
    padding: 5px 22px 5px 22px;
  }
  .date_content div:nth-child(2) {
    padding: 5px 22px 5px 22px;
  }
  .date_content div:nth-child(1) {
    padding: 5px 22px 5px 22px;
  }
  
  /* rooms box styles start room_box_size */
  
  .room_box_size {
    display: flex;
   
    gap:-22px;
  }
  .room_box_size div {
    width: 350px;
    border-radius: 7px;
    overflow: hidden;
    background-color: #fff; 
     text-align: start;
  }
  .room_icon_benifit {
    text-align: start;
    padding-left: 12px;
  }
  .room_icon_benifit div {
    padding-bottom: 12px;
  }
  .room_icon_benifit i {
    padding-right: 12px;
  }
  .flexing_Explore_more {
    display: flex;
    align-items: center;
    color: blue;
    padding-top: 12px;
    font-size: 18px;
    cursor: pointer;
  }
  
  
  .extras_box_details_ruppes {
    display: flex;
    justify-content: space-between;
    text-align: start;
    align-items: center;
  }
  .extras_box_details_ruppes_separate input {
    margin-top: 5px;
    margin-right: 12px;
  }
  .extras_box_details_ruppes_separate {
    display: flex;
    align-items: top;
    padding-top: 12px;
    padding: 5px;
  }
  .price_btn_total_amount {
    text-align: start;
    padding: 11px;
  }
  .price_btn_total_amount_flex {
    display: flex;
    justify-content: space-between;
  }
  .price_btn_total_amount_details {
    display: flex;
    align-items: center;
    color: blue;
    padding-top: 17px;
    font-size: 19px;
  }
  